<%- include('includes/first') %>
<main>
    <% if (hasUsers) { %>
    <% users.forEach(user => { %>
        <article class="card product-item">
            <header class="card__header">
                <h1 class="product__title"><%= user.username %></h1>
            </header>
        </article>
    <% }) %>
    <% } else { %>
        <h1>No users</h1>
    <% } %>
</main>
<%- include('includes/last') %>